# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual environment
venv/
env/
ENV/

# Logs
*.log

# Local development settings
.idea/
.vscode/

# Distribution / packaging
dist/
build/
*.egg-info/

# Temporary files
tmp/
.DS_Store 
.vercel
